<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>

</head>

<body>
<section layout:fragment="content" class="main-content">
<!--        이부분 관리자 페이지로 고칠 부분-->
    <div id="container">
        <h1>관리자 페이지</h1>
        <form id="register-form" th:action="@{|${timetable.id}|}" th:object="${timetable}" method="post">
            <div class="form-row">
                <input type="radio" name="chk_info" value="정률할인" onclick="hide('flat')">정률 할인
                <input type="radio" name="chk_info" value="정액할인" onclick="hide('percent')">정액 할인
            </div>
            <div id="percent" class="form-row" >
                <label>정률할인: </label><input type="text" th:field="*{percentDiscount}" placeholder="정률할인"/>
            </div>
            <div id="flat"  class="form-row">
                <label>정액할인: </label><input type="text" th:field="*{flatDiscount}" placeholder="정액할인"/>
            </div>

            <input type="submit" value="적용"/>
        </form>
    </div>
<script>
    function hide(id){
        if (id =="percent") {
            document.getElementById(id).style.display = "none";
            document.getElementById('flat').style.display = "block";
        }else {
            document.getElementById(id).style.display = "block";
            document.getElementById('flat').style.display = "hidden";
        }
    }
</script>

</section>

</body>
</html>