<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>

</head>
<body>
<!--리뷰작성화면-->
<section layout:fragment="content" class="main-content">
    <h1>리뷰 등록</h1>
    <div th:if="${user}">
        <h4 th:text="|로그인:${user.userId}|">로그인 사용자 이름</h4>
        <a href="/logout">LOGOUT</a>
    </div>
    <form id="register-form" th:action="@{/reviews/new}" th:object="${reviewForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="form-row">
            <label>리뷰: </label><input type="text" th:field="*{contents}" autofocus="autofocus" placeholder="리뷰"
                                      th:errorclass="field-error"/>
            <div class="field-error" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
                리뷰 오류
            </div>
        </div>

        <div class="form-row">
            <input type="submit" value="리뷰등록"/>
            <input type="reset" value="다시입력"/>
        </div>
    </form>
</section>
</body>
</html>
