<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>

</head>
<body>
<!--리뷰작성화면-->
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div class="movieChartBeScreen_wrap">
            <div id="contents">
                <h3>리뷰 등록</h3>
                <div th:if="${user}">
                    <h4 th:text="|로그인:${review.userId}|">로그인 사용자 Id</h4>
                </div>
                <form id="register-form" th:action="@{'/reviews/'+${movieId}+'/add'}" th:object="${review}" method="post">

                    <div class="form-row">
                        <label>리뷰: </label><input type="text" th:field="*{contents}" autofocus="autofocus"
                                                  placeholder="리뷰"
                                                  th:errorclass="field-error"/>
                        <div class="field-error" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
                            리뷰 오류
                        </div>
                    </div>

                    <div class="form-row">
                        <input type="submit" value="리뷰등록"/>
                        <input type="reset" value="다시입력"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
