a {
    color: inherit;
    text-decoration: none;
}

.footer {
    min-width: 1040px;
    padding: 0 0 14px;
    background-color: #f8f8f8;
}

footer .company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}

.header_content {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header {
    position: relative;
    z-index: 101;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}

.header_content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}

.header_content .contents h1 {
    margin: 0;
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_content .contents h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.header_content .contents h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_content .contents .memberInfo_wrap {
    display: flex;
    align-items: center;
}

.header_content .contents .memberInfo_wrap li {
    margin-left: 44px;
    margin-top: 2px;
}

.header_content .contents .memberInfo_wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;
}

.header_content .contents .memberInfo_wrap li a img {
    width: 36px;
    height: 36px;
}

.header_content .contents .memberInfo_wrap li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}

ol, ul {
    list-style: none;
}

input, select img {
    vertical-align: middle;
}

.nav {
    position: absolute;
    left: 0;
    top: 113px;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #fb4357;
}

.nav_menu {
    display: inline-flex;
}

.nav_menu > li {
    width: 162px;
    padding: 20px 0;
}

.nav_menu > li > h2 {
    position: absolute;
    top: 7px;
    margin: 0;
}

.nav_menu > li > h2 > a {
    font-weight: 700;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}

.nav_menu > li:first-child {
    width: 137px;
}

.memberInfo_wrap {
    margin: 0;
}
#contents{
    clear: both;
    padding-bottom: 50px;
}
#container {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 7;
}

#container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
#container .contents h3 span{
    font-weight: 700;
    color: #222;
    font-size: 26px;
    line-height: 1.423em;
}

.movieChartBeScreen_wrap {
    clear: none;
    float: none;
}

.movieChartBeScreen_wrap .contents {
    overflow: hidden;
    margin-left: 30px;
    padding: 50px 30px 60px;
}
.main-contents{
    overflow: hidden;
    margin-left: 30px;
    padding: 50px 30px 60px;
}

.movieChartBeScreen_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap {
    display: inline-flex;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 span {
    font-weight: 700;
    color: #222;
    font-size: 26px;
    line-height: 1.423em;
}
[class|="wrap-movie"][class*="chart"] .sect-movie-chart{
    margin-top: 30px;
}
[class|="sect"][class*="chart"]{
    position: relative;
    overflow: hidden;
}
div[class^="sect-"]{
    clear: both;
    zoom: 1;
}
[class|="sect"][class*="chart"] > h3:first-child + ol, [class|="sect"][class*="chart"] > h4:first-child + ol {
    padding-top: 0;
}
[class|="sect"][class*="chart"] > h4 + ol {
    padding-top: 20px;
}
[class|="sect"][class*="chart"] > ol {
    padding-top: 30px;
    margin-left: -64px;
    zoom: 1;
}
[class|="sect"][class*="chart"] > ol > li {
    float: left;
    width: 197px;
    margin-left: 64px;
    padding-bottom: 30px;
}
[class|="sect"][class*="chart"] .box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}
[class|="sect"][class*="chart"] > h3:first-child + ol .rank, [class|="sect"][class*="chart"] > h4:first-child + ol .rank, [class|="sect"][class*="chart"] > .spec + ol .rank {
    background: #fb4357;
}
[class|="sect"][class*="chart"] .rank {
    display: block;
    height: 28px;
    margin-bottom: 4px;
    /* border: 6px solid #000000; */
    background: #333333;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
}
strong {
    font-weight: 500;
}
.box-image a {
    display: block;
}
.thumb-image {
    display: block;
    position: relative;
}
[class|="sect"][class*="chart"] .thumb-image > img {
    height: 260px;
}
.box-image img {
    width: 100%;
}
.wrap-movie-chart .box-contents {
    height: 93px;
}
.box-contents > a {
    display: block;
}
[class|="sect"][class*="chart"] > h4 + ol > li:first-child .title, [class|="sect"][class*="chart"] > h3 + ol > li:first-child .title {
    width: 90%;
}
[class|="sect"][class*="chart"] .title {
    font-size: 15px;
}
.title {
    display: block;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
[class|="sect"][class*="chart"] .score {
    margin-top: 7px;
}
.score {
    font-size: 11px;
}
[class|="sect"][class*="chart"] .score .egg-gage, [class|="sect"][class*="chart"] .score .percent {
    vertical-align: middle;
}
[class|="sect"][class*="chart"] .txt-info {
    margin-top: 3px;
    height: 13px;
    color: #666666;
    font-weight: 500;
    white-space: nowrap;
}
.txt-info {
    display: block;
    color: #999999;
    font-size: 12px;
}
.txt-info > strong {
    font-size: 11px;
}
[class|="sect"][class*="wishlist"] .like, [class|="sect"][class*="chart"] .like {
    text-align: left !important;
}
[class|="sect"][class*="chart"] .like {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.like {
    display: inline-block;
    margin-right: 3px;
}
[class|="sect"][class*="wishlist"] .like .link-reservation, [class|="sect"][class*="chart"] .like .link-reservation {
    width: 97px !important;
    height: 25px !important;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_preegg.png) 0 -110px no-repeat !important;
}
[class|="sect"][class*="chart"] .link-reservation {
    width: 57px;
    height: 25px;
    background-position: -96px 0px;
}
.link-reservation {
    display: inline-block;
    width: 91px;
    height: 35px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png) 0 0 no-repeat;
    font: 0/0 a;
    zoom: 1;
    vertical-align: top;
}
#cgvwrap .cgv-ad-wrap .sect-head-ad, .head, .im-wrap, #contents, .foot, .sect-smuse, .sect-cinfo {
    position: relative;
    width: 980px;
    margin: 0 auto;
}
[class|="wrap-movie"][class$="detail"] [class^="sect-"] {
    padding-top: 40px;
}
div[class^="sect-"] {
    clear: both;
    zoom: 1;
}
[class|="sect-base"][class$="movie"] .box-image {
    margin-right: 30px;
    width: 185px;
    height: 260px;
}
[class|="sect-base"] .box-image {
    float: left;
}
.box-image a {
    display: block;
}
.thumb-image {
    display: block;
    position: relative;
}
[class|="sect-base"][class$="movie"] .thumb-image img {
    width: 185px;
    height: 260px;
}
[class|="sect-base"][class$="movie"] .box-contents {
    width: 765px;
}
[class|="sect-base"] .box-contents {
    float: left;
    position: relative;
}
.title {
    display: block;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
[class|="sect-base"] .title strong {
    color: #1a1919;
    font-size: 25px;
    vertical-align: middle;
}
[class|="sect-base"] .score {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d6c8;
    font-size: 14px;
}
.score {
    font-size: 11px;
}
[class|="sect-base"] .score .egg-gage, [class|="sect-base"] .score .percent {
    vertical-align: middle;
}
.score .percent span {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    vertical-align: -1px;
}
[class|="sect-base"][class$="movie"] .spec {
    padding-top: 18px;
    line-height: 1.6;
}
.spec {
    color: #333333;
    font-size: 13px;
    font-weight: 500;
}
.spec dt {
    float: left;
}
[class|="sect-base"] .like {
    margin-top: 22px;
}
.like {
    display: inline-block;
    margin-right: 3px;
}
.link-count {
    width: 104px;
    height: 33px;
    border: 1px solid #222222;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 2px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    /* background-color: #fdfcf0; */
}
.link-reservation {
    display: inline-block;
    width: 91px;
    height: 35px;
    background: url(../images/sprite/sprite_btn.png) 0 0 no-repeat;
    font: 0/0 a;
    zoom: 1;
    vertical-align: top;
}
[class|="sect-base"][class*="movie"] .spec dd {
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}
[class|="sect-base"][class*="movie"] .spec dd {
    float: left;
}
.spec dd {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.movieChart_list.swiper {
    overflow: visible;
    position: relative;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.movieChart_list .swiper-wrapper {
    counter-reset: movie-chart-counter;
}
.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.movieChart_list .swiper-wrapper .swiper-slide .img_wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}
.img_wrap {
    position: relative;
    overflow: hidden;
}
.movieChart_list .swiper-wrapper .swiper-slide .img_wrap img {
    z-index: 1;
}
.img_wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
}
.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap {
    display: flex;
    flex-wrap: wrap;
}
.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap .movieName {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: #444;
    line-height: 1.214em;
}
.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span ~ span {
    position: relative;
    padding-left: 16px;
}

.mouseoverClass{
    display: none;
}