<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=1024">
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작">
    <meta name="description"
          content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다.">
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV">
    <meta id="ctl00_og_title" property="og:title" content="브로커 | 영화 그 이상의 감동. CGV">


    <meta id="ctl00_og_image" property="og:image"
          content="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85829/85829_185.jpg">
    <link rel="alternate" href="http://m.cgv.co.kr">
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon">
    <title id="ctl00_headerTitle">[브로커]&lt;</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css">

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css">
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css">
    <link rel="stylesheet" type="text/css"
          href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css">

    <script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-NNNFR3"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css"
          href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css">

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css">

    <!-- 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css">

    <!-- 각페이지 Header Start-->

    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="https://img.cgv.co.kr/R2014/js/excanvas.min.js"></script>
    <![endif]-->
    <link href="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jquery.jqplot.min.css" rel="stylesheet"
          type="text/css">
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jqplot.donutRenderer.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.jqplot/jqplot.pointLabels.min.js"></script>

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/Chart.custom.js"></script>
    <!-- 평점 개편 스파이더 차트 js 로딩 추가. mwpark_RR2015 -->

    <!-- 영화 상세 차트 js 로딩 추가 -->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/amcharts.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/radar.js"></script>


    <!--/각페이지 Header End-->
    <script type="text/javascript">
        //<![CDATA[
        _TRK_CP = "/홈";

        app.config('staticDomain', 'https://img.cgv.co.kr/R2014/')
            .config('imageDomain', 'https://img.cgv.co.kr')
            .config('isLogin', 'False');


        // AD FLOAT
        // 암호화 할 문자열과 키값(상수값)을 매개변수로 받는다.


        //]]>
    </script>


    <script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/system.packed.js"></script>
</head>
<body>
<div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">


        <!-- Contents Start -->


        <!-- 실컨텐츠 시작 -->
        <div class="wrap-movie-detail" id="select_main">


            <!--
            <div class="tit-heading-wrap">
                <h3>영화상세</h3>
            </div>
                //-->
            <div class="sect-base-movie">
                <h3><strong>브로커</strong>기본정보</h3>
                <div class="box-image">
                    <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85829/85829_1000.jpg"
                       title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image">
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85829/85829_320.jpg" alt="브로커 포스터 새창"
                     onerror="errorImage(this)">
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade grade-12"> 12세 이상</span>
            </span>
                    </a>
                </div>
                <div class="box-contents">
                    <div class="title">
                        <strong>브로커</strong>


                        <p>Broker</p>
                    </div>
                    <div class="score">
                        <strong class="percent">예매율&nbsp;<span>29.0%</span></strong>
                        <!-- 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 -->
                        <div class="egg-gage small">
                            <span class="egg good"></span>
                            <span class="percent">84%</span>
                        </div>
                    </div>
                    <!-- 떨어지는 얘 이전 요소에 class=on을 넣는다 -->
                    <div class="spec">
                        <dl>
                            <dt>감독 :&nbsp;</dt>
                            <dd>


                                <a href="/movies/persons/?pidx=11316">고레에다 히로카즈</a>

                            </dd>

                            <dd>

                            </dd>

                            <dt>&nbsp;/ 배우 :&nbsp;</dt>
                            <dd class="on">


                                <a href="/movies/persons/?pidx=32">송강호</a>

                                ,&nbsp;
                                <a href="/movies/persons/?pidx=31232">강동원</a>

                                ,&nbsp;
                                <a href="/movies/persons/?pidx=574">배두나</a>

                                ,&nbsp;
                                <a href="/movies/persons/?pidx=113776">이지은</a>

                                ,&nbsp;
                                <a href="/movies/persons/?pidx=117138">이주영</a>

                            </dd>

                            <dt>장르 :&nbsp;드라마</dt>
                            <dd></dd>

                            <dt>&nbsp;/ 개봉 :&nbsp;</dt>
                            <dd class="on">2022.06.08</dd>


                        </dl>
                    </div>
                    <span class="screentype">

        </span>

                    <span class="like">
            <!-- 프리에그 선택 변경(조회하여 노출) -->
            <a class="link-count" href="javascript:void (0);"><i class="sprite_preegg btn_md default"></i>프리에그</a>

            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029409&amp;MOVIE_CD_GROUP=20029409">예매</a>

        </span>

                </div>
            </div><!-- .sect-base -->

            <!-- 프리에그 팝업 -->
            <div class="layer-wrap" id="movie-pre-select" style="top:100px;display:none">
                <div class="popwrap" style="width:516px;margin-top:0px;margin-left:-268px">
                    <h1>프리에그 선택</h1>
                    <div class="pop-contents">
                        <!-- Contents Addon -->
                        <div class="movie-pre-select">
                            <div class="header">
                                <p class="main"></p>
                            </div>
                            <div class="box">
                                <div class="desc">
                                    <div class="main">이 영화가 기대되시나요?</div>
                                    <div class="sub"><em>'기대돼요!'</em>를 선택하시면 <em>'기대되는 영화'에 추가</em>됩니다.</div>
                                </div>
                                <div class="wrap_btn">
                                    <a href="javascript:void(0);" class="btn good">
                                        <span class="sprite_preegg big favor"></span>
                                        <span>기대돼요!</span>
                                    </a>
                                    <a href="javascript:void(0);" class="btn bad">
                                        <span class="sprite_preegg big hate"></span>
                                        <span>글쎄요..</span>
                                    </a>
                                    <input type="hidden" id="preegg_useyn" value="">
                                </div>
                            </div>
                        </div>
                        <!-- //Contents Addon -->
                        <div class="set-btn fix-width">
                            <button type="submit" id="btnSave" class="round inred"><span>확인</span></button>
                        </div>
                    </div>
                    <button type="button" class="btn-close">프리에그 팝업 닫기</button>
                </div>
            </div>
            <!-- //프리에그 팝업 -->

            <script type="text/javascript">
                _TRK_PNC = "85829";
                _TRK_PNC_NM = "브로커";
                _TRK_PNG = "영화";
                _TRK_PI = "PDV";
                _TRK_CP = "/영화/영화상세/{0}/브로커";
            </script>


            <div class="cols-content" id="menu">
                <div class="col-detail">

                    <!-- 성별예매분포, 연령별예매분포 UI 변경 -->
                    <div id="ctl00_PlaceHolderContent_Section_Chart" class="sect-graph sect-graph-emotion">
                        <ul class="graph">
                            <li>
                                <strong>성별 예매 분포</strong>
                                <div id="jqplot_sex" class="chart jqplot-target" style="position: relative;">
                                    <canvas width="400" height="192" class="jqplot-base-canvas"
                                            style="position: absolute; left: 0px; top: 0px;"></canvas>
                                    <div class="jqplot-title" style="height: 0px; width: 0px;"></div>
                                    <canvas width="400" height="192" class="jqplot-grid-canvas"
                                            style="position: absolute; left: 0px; top: 0px;"></canvas>
                                    <canvas width="380" height="159" class="jqplot-series-shadowCanvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                    <canvas width="380" height="159" class="jqplot-series-canvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                    <canvas width="380" height="159" class="jqplot-donutRenderer-highlight-canvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                    <span class="jqplot-donut-series jqplot-data-label"
                                          style="position: absolute; left: 113px; top: 145px;">남 39.7%</span><span
                                        class="jqplot-donut-series jqplot-data-label"
                                        style="position: absolute; left: 234px; top: 18px;">여 60.3%</span>
                                    <canvas width="380" height="159" class="jqplot-event-canvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                </div>
                            </li>
                            <li>
                                <strong>연령별 예매 분포</strong>
                                <div id="jqplot_age" class="chart jqplot-target" style="position: relative;">
                                    <canvas width="400" height="192" class="jqplot-base-canvas"
                                            style="position: absolute; left: 0px; top: 0px;"></canvas>
                                    <div class="jqplot-title" style="height: 0px; width: 0px;"></div>
                                    <div class="jqplot-axis jqplot-xaxis"
                                         style="position: absolute; width: 400px; height: 14px; left: 0px; bottom: 0px;">
                                        <div class="jqplot-xaxis-tick"
                                             style="position: absolute; font-size: 12px; left: 35.5px;">10대
                                        </div>
                                        <div class="jqplot-xaxis-tick"
                                             style="position: absolute; font-size: 12px; left: 111.5px;">20대
                                        </div>
                                        <div class="jqplot-xaxis-tick"
                                             style="position: absolute; font-size: 12px; left: 187.5px;">30대
                                        </div>
                                        <div class="jqplot-xaxis-tick"
                                             style="position: absolute; font-size: 12px; left: 263.5px;">40대
                                        </div>
                                        <div class="jqplot-xaxis-tick"
                                             style="position: absolute; font-size: 12px; left: 339.5px;">50대
                                        </div>
                                    </div>
                                    <div class="jqplot-axis jqplot-yaxis"
                                         style="position: absolute; height: 192px; width: 0px; left: 0px; top: 0px;"></div>
                                    <canvas width="400" height="192" class="jqplot-grid-canvas"
                                            style="position: absolute; left: 0px; top: 0px;"></canvas>
                                    <canvas width="380" height="158" class="jqplot-series-shadowCanvas"
                                            style="position: absolute; left: 10px; display: block; top: 10px;"></canvas>
                                    <canvas width="380" height="158" class="jqplot-series-canvas"
                                            style="position: absolute; left: 10px; display: block; top: 10px;"></canvas>
                                    <div class="jqplot-point-label jqplot-series-0 jqplot-point-4"
                                         style="position: absolute; left: 342.5px; top: 86.405px; display: block;">16.1
                                    </div>
                                    <div class="jqplot-point-label jqplot-series-0 jqplot-point-3"
                                         style="position: absolute; left: 266.5px; top: 66.26px; display: block;">21.2
                                    </div>
                                    <div class="jqplot-point-label jqplot-series-0 jqplot-point-2"
                                         style="position: absolute; left: 194.5px; top: 39.4px; display: block;">28
                                    </div>
                                    <div class="jqplot-point-label jqplot-series-0 jqplot-point-1"
                                         style="position: absolute; left: 114.5px; top: 23.995px; display: block;">31.9
                                    </div>
                                    <div class="jqplot-point-label jqplot-series-0 jqplot-point-0"
                                         style="position: absolute; left: 41.5px; top: 138.94px; display: block;">2.8
                                    </div>
                                    <canvas width="380" height="158" class="jqplot-barRenderer-highlight-canvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                    <canvas width="380" height="158" class="jqplot-event-canvas"
                                            style="position: absolute; left: 10px; top: 10px;"></canvas>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="sect-grade">

                        <div class="wrap_btn">
                            <a class="link-gradewrite" href="javascript:void(0);"><span>평점작성</span></a>
                        </div>

                        <div class="wrap-persongrade">
                            <!-- 평점 목록 -->
                            <ul id="movie_point_list_container" class="point_col2">
                                <li class="" id="liCommentFirst32692455" data-spoilercnt="0" data-reportcnt="0">
                                    <a href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image">
                                    <span class="thumb-image">
                                        <img src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"
                                             alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">
                                        <span class="profile-mask"></span>
                                        <div class="theater-sticker"></div>
                                    </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="minsoo4400"
                                                                       data-moreuseridnicname="mi**oo4400"
                                                                       onclick="getPopList1('minsoo4400', 'mi**oo4400')"
                                                                       ;=""> <span class=" egg-icon good "></span>mi**oo4400</a>
                                            </li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="minsoo440032692455"
                                                    data-ismygood="false" data-commentidx="32692455">      <a
                                                    href="javascript:return false;" class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692455" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692455" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>가족애와 뛰어난 연출을 느낄수 있는 영화</p></div>
                                </li>
                                <li class="" id="liCommentFirst32692454" data-spoilercnt="0" data-reportcnt="0"><a
                                        href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image"><span class="thumb-image">                    <img
                                            src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"
                                            alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">                                                             <span
                                            class="profile-mask">                 </span>                 <div
                                            class="theater-sticker">                                                           </div>                                                              </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="himoto97"
                                                                       data-moreuseridnicname="hi**to97"
                                                                       onclick="getPopList1('himoto97', 'hi**to97')"
                                                                       ;=""> <span
                                                    class=" egg-icon "></span>hi**to97</a></li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="himoto9732692454" data-ismygood="false"
                                                    data-commentidx="32692454">      <a href="javascript:return false;"
                                                                                        class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692454" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692454" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>재미 없었어요 지루하고 ..</p></div>
                                </li>
                                <li class="" id="liCommentFirst32692453" data-spoilercnt="0" data-reportcnt="0"><a
                                        href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image"><span class="thumb-image">                    <img
                                            src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"
                                            alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">                                                             <span
                                            class="profile-mask">                 </span>                 <div
                                            class="theater-sticker">                                                           </div>                                                              </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="clonclon80"
                                                                       data-moreuseridnicname="cl**clon80"
                                                                       onclick="getPopList1('clonclon80', 'cl**clon80')"
                                                                       ;=""> <span class=" egg-icon good "></span>cl**clon80</a>
                                            </li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="clonclon8032692453"
                                                    data-ismygood="false" data-commentidx="32692453">      <a
                                                    href="javascript:return false;" class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692453" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692453" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>잘 봤습니다 ㅎㅎ 감사합니다</p></div>
                                </li>
                                <li class="" id="liCommentFirst32692452" data-spoilercnt="0" data-reportcnt="0"><a
                                        href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image"><span class="thumb-image">                    <img
                                            src="https://img.cgv.co.kr/MyCGV/Profile/2016/1224/omax95_115838_M.jpg"
                                            alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">                                                             <span
                                            class="profile-mask">                 </span>                 <div
                                            class="theater-sticker">                                                           </div>                                                              </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="omax95"
                                                                       data-moreuseridnicname="커난"
                                                                       onclick="getPopList1('omax95', '커난')" ;=""> <span
                                                    class=" egg-icon good "></span>커난</a></li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="omax9532692452" data-ismygood="false"
                                                    data-commentidx="32692452">      <a href="javascript:return false;"
                                                                                        class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692452" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692452" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>가슴 따뜻해지네요 즐감</p></div>
                                </li>
                                <li class="" id="liCommentFirst32692443" data-spoilercnt="0" data-reportcnt="0"><a
                                        href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image"><span class="thumb-image">                    <img
                                            src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"
                                            alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">                                                             <span
                                            class="profile-mask">                 </span>                 <div
                                            class="theater-sticker">                                                           </div>                                                              </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="kheej413"
                                                                       data-moreuseridnicname="kheej413"
                                                                       onclick="getPopList1('kheej413', 'kheej413')"
                                                                       ;=""> <span class=" egg-icon good "></span>kheej413</a>
                                            </li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="kheej41332692443" data-ismygood="false"
                                                    data-commentidx="32692443">      <a href="javascript:return false;"
                                                                                        class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692443" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692443" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>잔잔하게 잘 봤습니다.</p></div>
                                </li>
                                <li class="" id="liCommentFirst32692439" data-spoilercnt="0" data-reportcnt="0"><a
                                        href="javascript:return false;" class="screen_spoiler">&nbsp;</a>
                                    <div class="box-image"><span class="thumb-image">                    <img
                                            src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"
                                            alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">                                                             <span
                                            class="profile-mask">                 </span>                 <div
                                            class="theater-sticker">                                                           </div>                                                              </span>
                                    </div>
                                    <div class="box-contents">
                                        <ul class="writerinfo">
                                            <li class="writer-name"><a href="#select_main" class="commentMore"
                                                                       data-moreuserid="libbnbbo"
                                                                       data-moreuseridnicname="li**nbbo"
                                                                       onclick="getPopList1('libbnbbo', 'li**nbbo')"
                                                                       ;=""> <span class=" egg-icon good "></span>li**nbbo</a>
                                            </li>
                                            <li class="writer-etc"><span class="day">2022.06.10</span> <span
                                                    class="like point_like" id="libbnbbo32692439" data-ismygood="false"
                                                    data-commentidx="32692439">      <a href="javascript:return false;"
                                                                                        class="btn_point_like"><span><img
                                                    src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png"
                                                    alt="like" class="like_red"></span><span
                                                    id="idLikeValue">0</span></a>     </span></li>
                                            <li class="point_notify"><a href="" class="btn_notify">스포일러, 욕설/비방 신고</a>
                                                <div class="notify_wrap">
                                                    <ul>
                                                        <li><a href="javascript:return false;" class="ico_spoiler"
                                                               data-commentidx="32692439" data-ismyspoiler="false"
                                                               data-spoilercnt="0"><span>스포일러 신고</span></a></li>
                                                        <li><a href="javascript:return false;" class="ico_swearword"
                                                               data-commentidx="32692439" data-ismyreport="false"
                                                               data-reportcnt="0"><span>욕설/비방 신고</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-comment"><p>가족의 의미를 생각하게 하는 영화
                                        모두 태어나줘서 고마워~</p></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .sect-grade -->

                </div><!-- .col-detail -->
                <iframe class="layer-wrap review_pop" name="ifrm_movie_time_table1" id="ifrm_movie_time_table1"
                        style="display:none" title="상세리스트" height="993px" width="849px" frameborder="0" marginheight="0"
                        marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
            </div>

        </div>
        <span style="display:none" class="modifyCommentDummy"></span>
    </div>
</div>
</body>
</html>