<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<body>
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div id="contents">
            <div class="wrap-movie-detail" id="select_main">
                <div class="sect-base-movie">
                    <div class="box-image">
                        <a>
                            <span class="thumb-image">
                                <img th:src="${movie.imgUrl}" th:alt="${movie.name}">
                            </span>
                        </a>
                    </div>
                    <div class="box-contents">
                        <div class="title">
                            <strong class="title" th:text="${movie.name}"></strong>
                        </div>
                        <div class="score">
                            <strong class="percent">
                                <span th:text="|평점 ${movie.recommend}%|"></span>
                                <span th:text="|예매율 ${movie.reservated}%|"></span>
                            </strong>
                        </div>
                        <div class="spec">
                            <dl>
                                <dt th:text="|상영등급 : ${movie.grade} |"></dt><br>
                                <dt th:text="|감독 : ${movie.director} |"></dt><br>
                                <dt th:text="|배우 : ${movie.actor} |"></dt><br>
                                <dt th:text="|장르 : ${movie.genre} |"></dt><br>
                                <dt th:text="|개봉 : ${movie.releaseDate} |"></dt>
                            </dl>
                        </div>
                        <div class="like">
                            <a class="link-count" >
                                추천하기
                            </a>
                            <a class="link-reservation" th:href="@{'/timetable'+${movie.movieId}}"></a>
                            <a class="link-count" th:href="@{'/reviews/'+${movie.movieId}+'/add'}">
                                리뷰쓰기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contents">
            <h3>리뷰</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
<!--                    <th>#</th>-->
                    <th>회원</th>
                    <th>내용</th>
                    <th>게시일</th>
                    <th>좋아요</th>
                    <th>평점(Good/bad)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review : ${reviews}">
                    <!-- 회원이름, 평가내용, 게시일, 좋아요 수, 평점 -->
                    <td><span th:text="${review.user.name}"></span></td>
                    <td><span th:text="${review.contents}"></span></td>
                    <td><span th:text="${review.postDate}"></span></td>
                    <td><span th:text="${review.likeCount}"></span></td>
                    <td><span th:text="${review.grade}"></span></td>
                    <td><a class="btn-primary btn-sm" th:href="@{review/edit/{id}(id = ${review.id})}">수정</a><td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>