<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=1024">
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV">
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV">


    <meta id="ctl00_og_image" property="og:image"
          content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png">
    <link rel="alternate" href="http://m.cgv.co.kr">
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon">
    <title id="ctl00_headerTitle"></title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css">

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css">
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css">
    <link rel="stylesheet" type="text/css"
          href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css">

    <script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-NNNFR3"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript"
            src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css"
          href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css">
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css">

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css">

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css">


    <script type="text/javascript" src="https://img.cgv.co.kr/R2014//js/system/system.packed.js"></script>
</head>

<body>
<div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->
    <div id="contents" class="">
        <div class="wrap-movie-chart">
            <div class="tit-heading-wrap">
                <h3>무비차트</h3>
            </div>
            <div class="sect-sorting">  <!-- Sorting -->
                <label for="order_type" class="hidden">정렬</label>
                <select id="order_type" name="order-type">
                    <option title="현재 선택됨" selected="" value="1">예매율순</option>
                    <option value="2">평점순</option>
                    <option value="3">관람객순</option>
                </select>
                <button type="button" class="round gray"><span>GO</span></button>
            </div>

            <div class="sect-movie-chart">
                <h4 class="hidden">
                    무비차트 - 예매율순
                </h4>
                <ol>
                    <li>
                        <div class="box-image">
                            <strong class="rank">No.1</strong>
                            <a href="/movies/detail-view/?midx=85829">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85829/85829_320.jpg" alt="브로커 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85829">
                                <strong class="title">브로커</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>29.0%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg good"></span>
                                    <span class="percent">84%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.08 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029409&amp;MOVIE_CD_GROUP=20029409">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.2</strong>
                            <a href="/movies/detail-view/?midx=85813">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85813/85813_320.jpg" alt="범죄도시 2 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85813">
                                <strong class="title">범죄도시 2</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>16.8%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">99%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.05.18 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029355&amp;MOVIE_CD_GROUP=20029355">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.3</strong>
                            <a href="/movies/detail-view/?midx=85689">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85689/85689_320.jpg" alt="쥬라기 월드-도미니언 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85689">
                                <strong class="title">쥬라기 월드-도미니언</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>13.7%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">85%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.01 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029663&amp;MOVIE_CD_GROUP=20029075">예매</a>
                        </span>
                        </div>
                    </li>
                </ol>

                <ol>
                    <li>
                        <div class="box-image">
                            <strong class="rank">No.4</strong>
                            <a href="/movies/detail-view/?midx=82120">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000082/82120/82120_320.jpg" alt="탑건-매버릭 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=82120">
                                <strong class="title">탑건-매버릭</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>10.3%</span></strong>
                                <div class="egg-gage small">
                                    <span class="sprite_preegg default"></span>
                                    <span class="percent">99%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.22 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029791&amp;MOVIE_CD_GROUP=20020357">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.5</strong>
                            <a href="/movies/detail-view/?midx=85833">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85833/85833_320.jpg" alt="극장판 포켓몬스터DP-기라티나와 하늘의 꽃다발 쉐이미 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85833">
                                <strong class="title">극장판 포켓몬스터DP-기라티나와 하늘의 꽃다발 쉐이미</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>9.6%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">94%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.01 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029414&amp;MOVIE_CD_GROUP=20029414">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.6</strong>
                            <a href="/movies/detail-view/?midx=85871">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85871/85871_320.jpg" alt="마녀(魔女) Part2. The Other One 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85871">
                                <strong class="title">마녀(魔女) Part2. The Other One</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>8.9%</span></strong>
                                <div class="egg-gage small">
                                    <span class="sprite_preegg default"></span>
                                    <span class="percent">99%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.15 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029631&amp;MOVIE_CD_GROUP=20029631">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.7</strong>
                            <a href="/movies/detail-view/?midx=85977">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85977/85977_320.jpg" alt="버즈 라이트이어 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85977">
                                <strong class="title">버즈 라이트이어</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>8.0%</span></strong>
                                <div class="egg-gage small">
                                    <span class="sprite_preegg default"></span>
                                    <span class="percent">99%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.15 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029808&amp;MOVIE_CD_GROUP=20029806">예매</a>
                        </span>
                        </div>
                    </li>
                </ol>

                <ol class="list-more">
                    <li>
                        <div class="box-image">
                            <strong class="rank">No.8</strong>
                            <a href="/movies/detail-view/?midx=85891">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85891/85891_320.jpg" alt="베르네 부인의 장미정원 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85891">
                                <strong class="title">베르네 부인의 장미정원</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>0.2%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">97%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.09 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029661&amp;MOVIE_CD_GROUP=20029661">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.9</strong>
                            <a href="/movies/detail-view/?midx=85884">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85884/85884_320.jpg" alt="애프터 양 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85884">
                                <strong class="title">애프터 양</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>0.6%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">88%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.06.01 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029648&amp;MOVIE_CD_GROUP=20029648">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.10</strong>
                            <a href="/movies/detail-view/?midx=85715">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85715/85715_320.jpg" alt="닥터 스트레인지-대혼돈의 멀티버스 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85715">
                                <strong class="title">닥터 스트레인지-대혼돈의 멀티버스</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>0.3%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">91%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.05.04 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029116&amp;MOVIE_CD_GROUP=20029116">예매</a>
                        </span>
                        </div>
                    </li>

                    <li>
                        <div class="box-image">
                            <strong class="rank">No.11</strong>
                            <a href="/movies/detail-view/?midx=85886">
                            <span class="thumb-image">
                                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000085/85886/85886_320.jpg" alt="그대가 조국 포스터">
                            </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=85886">
                                <strong class="title">그대가 조국</strong>
                            </a>
                            <div class="score">
                                <strong class="percent">예매율<span>0.2%</span></strong>
                                <div class="egg-gage small">
                                    <span class="egg great"></span>
                                    <span class="percent">97%</span>
                                </div>
                            </div>
                            <span class="txt-info">
                            <strong>
                                2022.05.25 <span>개봉</span>
                            </strong>
                        </span>
                            <span class="like">
                            <a class="link-reservation" href="/ticket/?MOVIE_CD=20029650&amp;MOVIE_CD_GROUP=20029650">예매</a>
                        </span>
                        </div>
                    </li>
                </ol>

            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>