<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<body>
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div class="contents main-contents">
            <h3>
                <span>무비차트</span>
            </h3>
            <div class="contents">
                <div class="sect-sorting">
                    <select id="order_type" name="order-type">
                        <option value="1">예매율순</option>
                        <option value="2">평점순</option>
                    </select>
                    <button type="button" class="round gray">
                        <span>GO</span>
                    </button>
                </div>
                <div class="totalSearch_wrap">
                    <label>
                        <input type="text" id="header_keyword">

                    </label>
                    <button type="button" class="btn_totalSearch" id="btn_header_search">검색
                    </button>
                </div>
            </div>
            <div class="sect-movie-chart">
                <ol>
                    <li th:each="movie : ${movies}">
                        <div class="box-image">
                            <strong class="rank">No.1</strong>
                            <a th:href="@{/movies/detail(movieId=${movie.movieId})}">
                                <span class="thumb-image">
                                    <img th:src="${movie.imgUrl}" th:alt="${movie.name}">
                                </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a th:href="@{/movies/detail(movieId=${movie.movieId})}">
                                <strong class="title" th:text="${movie.name}"></strong>
                            </a>
                            <div class="score">
                                <strong class="percent">
                                    <span th:text="|예매율 ${movie.reservationRate}%|"></span>
                                </strong>
                            </div>
                            <span class="txt-info">
                                <strong th:text="|${movie.releaseDate} 개봉|">
                                </strong>
                            </span>
                            <span class="like">
                                <a class="link-reservation" th:href="@{/ticket/(movieId=${movie.movieId})}">예매하기</a>
                            </span>
                        </div>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>
</body>
</html>