<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<body>
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div class="movieChartBeScreen_wrap">
            <div class="contents" style="width: 1200px">
                <div class="movieChartBeScreen_btn_wrap">
                    <div class="tabBtn_wrap">
                        <h3>
                            <span class="active" id="btnMovie">무비차트</span>
                        </h3>
                    </div>
                </div>
                <div class="wiper movieChart_list swiper-container-initialized swiper-container-horizontal"
                     id="movieChart_list" style="display: block">
                    <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);">
                        <div th:each="movie : ${movies}"
                             class="swiper-slide swiper-slide-movie swiper-slide-active movieList"
                             style="width: 170.4px; margin-right: 32px">
                            <div class="img_wrap" id="image_mouse" data-scale="false" th:onmouseover="onmouseOver()">
                                <img class="mouseOver" th:src="${movie.imgUrl}" th:alt="${movie.name}">

                            </div>
                            <div class="mouseoverClass">
                                <a th:href="@{/movies/detail(movieId=${movie.movieId})}">
                                    <span>
                                        상세보기
                                    </span>
                                </a>
                                <a th:href="@{/ticket/(movieId=${movie.movieId})}">
                                    <span>
                                        예매하기
                                    </span>
                                </a>
                            </div>
                            <div class="movie_info_wrap">
                                <strong class="movieName" th:text="${movie.name}"></strong>
                                <span></span>
                                <span th:text="|예매율 ${movie.reservated}%|"></span>
                            </div>
                        </div>
                        <button id="pageBtn" type="button" th:onclick="getMovies()">다음 페이지</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function getMovies() {
             let URLSearch = new URLSearchParams(location.search).get('page');
             console.log(++URLSearch);
             location.href="http://localhost:8080/?page="+URLSearch;
        }
    </script>
</section>

</body>

</html>