<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<body>
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div class="contents main-contents">
            <h3>
                <span>신규 상영시간표 등록</span>
            </h3>
            <form id="register-form" th:action="@{/timetable/add}" th:object="${timetable}" method="post">
                <div class="form-row">
                    <label>시간: </label><input type="text" th:field="*{time}" /><br/>
                </div>
                <div class="form-row">
                    <label>가격: </label> <input type="text" th:field="*{price}" autofocus="autofocus"/>
                </div>
                <div class="form-row">
                    <label>상영관ID: </label><input type="text" th:field="*{screenId}" ><br/>
                </div>
                <div class="form-row">
                    <label>영화ID: </label><input type="text" th:field="*{movieId}" /><br/>
                </div>
                <div class="form-row">
                    <input type="submit" value="등록"/>
                    <input type="reset" value="다시입력"/>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>