<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
</head>
<body>
<section layout:fragment="content" class="main-content">
    <div id="container">
        <div id="contents">
            <div class="contents main-contents">
                <h3><span>상영시간표</span></h3>
                <ul id="timetable">
                    <li th:each="timetable:${timetables}">
                        <div class="col-times">
                            <div  class="info-movie">
                                <strong th:text="|${timetable.movie.grade} /|" style="font-size: 16px;font-weight: 700"></strong>
                                <strong th:href="@{/movies/detail(movieId=${timetable.movie.movieId})}" th:text="|${timetable.movie.name} /|" style="font-size: 16px;font-weight: 700"></strong>
                                <i th:text="|${timetable.movie.genre} /|"></i>
                                <i th:text="|${timetable.movie.releaseDate}|"> </i>
                            </div>
                            <div class="type-hall">
                                <div class="info-hall">
                                    <ul>
                                        <li th:text="| ${timetable.screen.type} ${timetable.screen.name}관 ${timetable.screen.floor} 층|"></li>

                                    </ul>
                                </div>
                                <div th:onclick="'location.href=\''+@{/ticket/add(id=${timetable.id})}+'\''" class="info-timetable">
                                    <ul>
                                        <li>
                                            <span th:text="${timetable.time}"></span><br>
                                            <span>총 124석</span><br>
                                            <span style="display: none">마감</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>